fastapi
uvicorn
beautifulsoup4
requests
nltk
transformers
torch
numpy
pandas
scikit-learn
gtts
gradio
streamlit
textblob
deep-translator
feedparser
langdetect
wordcloud
seaborn 
matplotlib 
vaderSentiment
plotly
keybert
langdetect 
torchvision
torchaudio